<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <h2>Welcome to ATM Interface System</h2><br><br><br>
    <form action="/menu" method="POST">
    <label>Enter card number:</label><input type="number" name="cardNo"/><br>
    <label>Enter your PIN:</label><input type="password" name="PIN"/><br>
    <input type="submit" value="Proceed" />
    </form>

</body>
</html>