<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change PIN</title>
</head>
<body>
    <form action="/changePIN" method="POST">
        <label>Enter new PIN to be set:</label><input type="password" name="nPIN1"/><br>
        <label>Re-enter the same PIN to confirm:</label><input type="password" name="nPIN2"/><br>
        <input type="submit" value="Proceed" />
    </form>
</body>
</html>